<div class='welcome'>

<h1>Welcome to the Appalachian Trail Blazer!</h1>

<script type="text/html" class="character">
  <h2>Create Character</h2>
    <br />
  <input name="character-name" placeholder="Rusty Bucket"></input>
    <br />
  <button class="submit">Create</button>
</script>

</div>

