<div class='welcome'>

<!-- class name  view start-view-->
<script type="text/html" class="start">
  <header>
  <div class="content">
    <hgroup>
      <h1>Hello.</h1>
      <h2>Welcome To The Appalachian Trail Blazer</h2>
    </hgroup>
  </div>
  </header>
  <section class="site">
    <p class="blurb">The Appalachian Trail is approximately 2,200 miles and traverses fourteen states. It takes fortitidue to be a thru-hiker, see if you can reach the end.</p>
    <p>Start Game?</p>
    <button>HECK YEA</button>
  </section>
</script>

<script type="text/html" class="character">
  <header>
    <div class="content">
      <hgroup>
        <h1>Hello.</h1>
        <h2>Welcome To The Appalachian Trail Blazer</h2>
      </hgroup>
    </div>
  </header>
  <section class="site">  
  <h3>Pick a Trail Name that you wish to be known by</h3>
    <br />
    <form>
      <input name="character-name" placeholder="Rusty Bucket"></input>
      <br />
      <button class="submit">Create</button>
    </form>
  </section>
</script>

<script type="text/html" class="game">
  <header>
    <hgroup>
      <p>Hello <%%= this.model.get("name") %>! You are at the 
      <br />
      <%%= this.model.get("shelter").get("name") %> shelter.</p>
    </hgroup>
  </header>
  <div class="adventure">
    <div class="text-wrapper">
    Your Morale is <%%= this.model.get("morale")%> out of 100.
      <br />
      <div id="bar" class="bar-main-container emerald">
        <div class="wrap">
          <div class="bar-percentage" data-percentage=<%%= this.model.get("morale")%>></div>
            <div class="bar-container">
            <div class="bar"></div>
          </div>
        </div>
      </div>
    <%%= this.model.get("shelter").get("adventurePrompt").get("question") %>
      <br />
    <div class="answer-buttons">
      <button name="yes">Yes</button> <button name="no">No</button>
    </div>
    </div>
  </div>
</script>

<script type="text/html" class="answer-yes">
  <div class="consequence">
    <div class="text-wrapper">
    <%% var adventure = this.model.get("shelter").get("adventurePrompt")%>
    <%%= adventure.get("answerYes")%>
      <br />
    <%% if(adventure.get("consequenceYes") >= 0){%>
    + <%%= adventure.get("consequenceYes")%> to morale

    <%%} else {%>
    <%%= adventure.get("consequenceYes")%> to morale
    <%% }%>

    <div class="next">
      <button class="next">Onwards</button>
    </div>
    </div>
  </div>
</script>

<script type="text/html" class="answer-no">
  <div class="consequence">
    <div class="text-wrapper">
    <%% var adventure = this.model.get("shelter").get("adventurePrompt")%>
    <%%= adventure.get("answerNo")%>
      <br />
    <%% if(adventure.get("consequenceNo") >= 0){%>
    + <%%= adventure.get("consequenceNo")%> to morale

    <%%} else {%>
    <%%= adventure.get("consequenceNo")%> to morale
    <%% }%>

    <div class="next">
      <button class="next">Onwards</button>
    </div>
    </div>
  </div>
</script>

<script type="text/html" class="gameLost">
  <p class="gameLost">Morale is zero; time to call Mom and Dad and go home</p>
  <img id='minivan' src="http://www.metroparent.com/Blogs/Views-on-the-News/February-2013/Are-Crossovers-Replacing-Minivans-for-Moms/MinivanKissOffIntheNewsBlog.jpg"> 
  <div class="restart">
      <button class="restart">Play Again?</button>
  </div>
</script>

<script type="text/html" class="gameWon">
  <div class="gameWon">
    <p>You got to the end! enjoy the view!</p>
    <div class="restart">
        <button class="restart">Play Again?</button>
    </div>
  </div>
</script>

</div>

